body{
    margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto;
 font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.weight{
  font-weight: normal;
}
.footer-link{
  color: #11999E;
}
.btn{
  color: #11999E;
}
.topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.comp-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cricket-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro{
  width: 30%;
  margin: auto;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.74rem;
}
p{
  line-height: 2;
  margin-bottom: 33.200px;
}
hr{
  border: dotted #A8A8A8 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
.middle-container{
  margin: 80px 0;

}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.bottom-cloud{
  position:absolute;
  bottom:300px;
  left:250px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.button {

  background: #30e3cd;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05,  #30e3cd), color-stop(1, #2bc4ad) );
  background: -moz-linear-gradient( center top,  #30e3cd 5%,  #2bc4ad 100% );
  background: -ms-linear-gradient( center top,  #30e3cd 5%, #2bc4ad 100% );
  background: -o-linear-gradient( center top,  #30e3cd 5%, #2bc4ad 100% );
  background: -webkit-linear-gradient( center top, #30e3cd 5%,  #2bc4ad 100% );

  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}


.button:hover {
  background: #3cb0fd;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05,  #3cb0fd), color-stop(1,#3498db) );
  background: -moz-linear-gradient( center top,   #3cb0fd 5%,  #3498db 100% );
  background: -ms-linear-gradient( center top,   #3cb0fd 5%,#3498db 100% );
  background: -o-linear-gradient( center top,   #3cb0fd 5%, #3498db 100% );
  background: -webkit-linear-gradient( center top,  #3cb0fd 5%,  #3498db 100% );
  text-decoration: none;
}
